@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* variables */

:root {
    --Moderate-cyan: hsl(176, 50%, 47%);
    --Dark-cyan: hsl(176, 72%, 28%);
    --Black: hsl(0, 0%, 0%);
    --Dark-gray: hsl(0, 0%, 48%);
    --font1: 'Commissioner', sans-serif;
}

/* starter code */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font1);
}

body {
    width: 1440px;
    background: #FAFAFA;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* start head */

.container header.top {
    position: relative;
    width: 1440px;
    height: 400px;
    background: url("/junior/crowdfunding-thing/solution/images/image-hero-desktop.jpg");
}

.container header.top nav.navBar {
    width: 1440px;
    height: 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 77%;
    margin: 0 auto;
}

.container header.top nav.navBar ul {
    width: 225px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container header.top nav.navBar ul li a {
    color: white;
    font-size: 13px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0;
}

.container header.top nav.navBar ul li a:hover {
    text-decoration: underline;
}

/* end head */

/* start article one */

.container article.one {
    width: 730px;
    height: 297px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    position: absolute;
    left: 25%;
    top: 275px;
}

.container article.one .cont {
    background: white;
    width: 730px;
    height: 269px;
    position: relative;
    border-radius: 10px;
}

.container article.one .cont .iconBox {
    position: absolute;
    top: -30px;
    left: 47%;
}

.container article.one .cont h1 {
    width: 453px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 12px;
    height: 34px;
    font-size: 28px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0;
}

.container article.one .cont p {
    width: 507px;
    height: 20px;
    font-size: 16px;
    margin: 0 auto;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0;
    color: var(--Dark-gray);
}

.container article.one .cont .linkBox {
    width: 634px;
    height: 56px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 68px;
}

.container article.one .cont .linkBox a.one {
    background: var(--Moderate-cyan);
    padding: 18px 40px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 100%;
    transition: .5s ease-in-out;
}

.container article.one .cont .linkBox a.one:hover {
    background: var(--Dark-cyan);
}

.container article.one .cont .linkBox .bookMark {
    width: 174px;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background: #eeeeee;
    padding-right: 30px;
    border-radius: 40px;
}

.container article.one .cont .linkBox .bookMark a {
    color: var(--Dark-gray);
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 100%;
    width: 78px;
    height: 20px;
}

.container article.one .cont .linkBox .bookMark img {
    height: 56px;
    width: 56px;
}

/* end article one */