@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* variables */
:root 
{
    --Moderate-cyan: hsl(176, 50%, 47%);
--Dark-cyan: hsl(176, 72%, 28%);

--Black: hsl(0, 0%, 0%);
--Dark-gray: hsl(0, 0%, 48%);
--font1: 'Commissioner', sans-serif;
}
/* starter code */
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font1) 
    ;
}
body 
{
    width: 1440px;
}
a
{
    text-decoration: none;

}
li 
{
    list-style-type: none;
}
/* start head */

.container header.top
{
    position: relative;
    width: 1440px;
    height: 400px;
    background: url("/junior/crowdfunding-thing/solution/images/image-hero-desktop.jpg");
}
.container header.top nav.navBar 
{
 

    width: 1440px;
    height: 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 77%;
    margin: 0 auto;
}
.container header.top nav.navBar ul
{
    
    width: 225px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container header.top nav.navBar ul li a 
{
    color: white;
    font-size: 13px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0;
}
/* end head */